.home-image {
    width: 50%;
}

.home-poster {
    display: flex;
    flex-direction: row;
}

.home-block {
    margin: 50px 0;
}

.carousel-item img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    object-position: center center;
}

.home-page .container {
    margin-top: 0;
    padding-top: 0;
}

.home-video {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

#home-video-image {
    position: absolute;
    z-index: 5;
    width: 40%;
}

.home-video-image {
    width: 100%;
}

#topVideo {
    z-index: 4;
    position: absolute;
    width: 100%;
}

@media screen and (max-width:768px){
    .home-video {
      display: none;
    }
}

.menu-list-home>div {
    padding: 0 15px 40px 15px;
}

.menu-list-home img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.menu-item-info {
    margin-top: 12px;
}

.menu-item-info a {
    color: rgb(25 25 25);
    font-size: 16px;
}
.menu-item-info a:hover {
    color: #E57905;
}
 
.price-product-item {
    padding-left: 0px;
    color: rgb(0 0 0 / 60%);
    font-size: 16px;
}

.home-content p::first-letter{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
    text-shadow: 1px 1px 3px #000000;
}

.introduce {
    font-size: large;
    font-weight: bold;
}